# Server Port
PORT=5000

# Database URL (SQLite or PostgreSQL)
# For SQLite (Out of the box local demo):
DATABASE_URL="file:./dev.db"

# For PostgreSQL:
# DATABASE_URL="postgresql://postgres:password@localhost:5432/dayflow?schema=public"

# JWT Auth Secret
JWT_SECRET="your_jwt_secret_key_here"

# Environment
NODE_ENV="development"
